body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.slideshow-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
}
.slide.active {
    left: 0;
    opacity: 1;
}
.slide img, .slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.circleImage{
    width: 20%; /* Set the desired size of the image */
  border-radius: 50%; /* Make it a circle */
  left: 20%; /* Set the fixed distance from the left edge of the screen */
  border: 4px solid white; /* Optional: add a border for visual effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
}