
body {
    margin: 0;
}
.slideshow-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
}
.slideshow-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
.slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}
.slide img, .slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circleImagePC{
    width: 25%; /* Set the desired size of the image */
  border-radius: 50%; /* Make the image circular */
  position: absolute; /* Position the image relative to the carousel */
  top:320px; /* Align to the bottom edge of the carousel */
  left: 10%; /* Set fixed distance from the left edge of the screen */
  transform: translateY(-50%); /* Adjust vertical alignment so the center lies on the bottom edge */
  border: 10px solid white; /* Optional border for styling */
  z-index: 10; /* Ensure the image appears above the carousel content */
}

.circleImageMobile{
    width: 40%; /* Set the desired size of the image */
  border-radius: 50%; /* Make the image circular */
  position: absolute; /* Position the image relative to the carousel */
  top:320px; /* Align to the bottom edge of the carousel */
  left: 5%; /* Set fixed distance from the left edge of the screen */
  transform: translateY(-50%); /* Adjust vertical alignment so the center lies on the bottom edge */
  border: 5px solid white; /* Optional border for styling */
  z-index: 10; /* Ensure the image appears above the carousel content */
  visibility: collapse;
}

#carouselText{
    position:absolute;
    top:150px;
    left:60%;
    color: #ffffff; /* Fallback for older browsers */
    /* color: rgba(255, 255, 255, 0.75); */

    font-size: 5vw;
    font-family: 'Alpha Brights';
    text-shadow:
        0px 0px 60px #fff,  /* inner white */
        0px 0px 100px #f0f, /* middle magenta */
        0px 0px 140px #0ff; /* outer cyan */
}

.title{
    display:block;
    margin-top:20px;
    margin-left:35%;
}

#name{
    font-size:5vw;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
}

#subtitle{
    font-size: 2vw;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(151, 151, 151);
}

.blogcards{
    margin-top:40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: center; /* Center the cards */
}
.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: calc(33.33% - 20px); /* 3 cards in a row */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }

.date{
    color:rgb(120, 120, 120);
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: right;
}
#lifeCard{
    background-image: linear-gradient(rgb(255, 255, 255) 80%, rgb(211, 255, 244));
}

@media screen and (max-width: 768px) {
    .card{
      width: calc(50% - 20px); /* 2 cards in a row on smaller screens */
    }
  }

@media screen and (max-width: 480px) {
    .card {
      width: 100%; /* 1 card in a row on very small screens */
    }
  }
    
@font-face {
    font-family: "Alpha Brights";
    src: url(assets/Alpha\ Brights.ttf);
}
@media only screen and (max-width: 500px){
    .circleImagePC{
        visibility: collapse;
    }

    .circleImageMobile{
        visibility: visible;
    }

    #carouselText{
        position:absolute;
    top:10%;
    left:60%;
    color: #ffffff; /* Fallback for older browsers */
    /* color: rgba(255, 255, 255, 0.75); */

    font-size: 15vw;
    font-family: 'Alpha Brights';
    text-shadow:
        0px 0px 60px #fff,  /* inner white */
        0px 0px 100px #f0f, /* middle magenta */
        0px 0px 140px #0ff; /* outer cyan */
    }

    .title{
        margin-left:45%
    }

    #name{
        font-size:6vw;
    }

    #subtitle{
        font-size:2.5vw;
    }


}